<div class="game">
  <div class="stock">
    <div class="stock-deck">
      <img class="card" *ngIf="hasBlockedStock()" src="assets/images/cards/back.png" alt="" (click)="unblockStockCard()">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasBlockedStock()" (click)="blockAllStockCards()"></i>
    </div>
  
    <div class="stock-card">
      <img class="card" *ngIf="hasUnblockedStock()" src="{{lastUnblockedStockCard.image}}" alt="">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasUnblockedStock()"></i>
    </div>
  </div>
  
  <div class="columns">
    <div class="column">
      <img class="card card-column" *ngFor="let firstCard of firstColumn" src="{{getCardImage(firstCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let secondCard of secondColumn" src="{{getCardImage(secondCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let thirdCard of thirdColumn" src="{{getCardImage(thirdCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let fourthCard of fourthColumn" src="{{getCardImage(fourthCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let fifthCard of fifthColumn" src="{{getCardImage(fifthCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let sixthCard of sixthColumn" src="{{getCardImage(sixthCard)}}" alt="">
    </div>
    <div class="column">
      <img class="card card-column" *ngFor="let seventhCard of seventhColumn" src="{{getCardImage(seventhCard)}}" alt="">
    </div>
  </div>

  <div class="objective">
    <div class="objective-deck">
      <img class="card card-column" *ngIf="hasHeartDeck()" src="{{lastHeartDeckCard.image}}" alt="">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasHeartDeck()"></i>
    </div>

    <div class="objective-deck">
      <img class="card card-column" *ngIf="hasDiamondDeck()" src="{{lastDiamondDeckCard.image}}" alt="">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasDiamondDeck()"></i>
    </div>

    <div class="objective-deck">
      <img class="card card-column" *ngIf="hasSpadesDeck()" src="{{lastSpadesDeckCard.image}}" alt="">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasSpadesDeck()"></i>
    </div>

    <div class="objective-deck">
      <img class="card card-column" *ngIf="hasClubDeck()" src="{{lastClubDeckCard.image}}" alt="">
      <i class="fa-solid fa-ban card emptyDeck" *ngIf="!hasClubDeck()"></i>
    </div>
  </div>
</div>